In [60]:
import pandas as pd

In [78]:
avg = pd.read_csv('average.txt', header=None)
my_avg = pd.read_csv('result_avg.txt', header=None)

In [79]:
diff = (pd.to_datetime(avg[0]) - pd.to_datetime(my_avg[0])).dt.total_seconds()
diff.describe()

count    23043.000000
mean         0.000014
std          0.000306
min         -0.000499
25%         -0.000216
50%         -0.000029
75%          0.000318
max          0.000490
Name: 0, dtype: float64

In [63]:
diff.values.argsort()

array([ 5318, 12618, 12570, ...,  4092, 10912,   428], dtype=int64)

In [64]:
test = pd.read_csv('test.csv', sep='\t')

In [65]:
test.iloc[diff.values.argsort()[:10]]

,Registration,Driver ID,Route,Route Direction,Route description,First station,Departure time,Last station,Arrival time
5318,LJ LPP-212,155,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-17 10:19:55.000,MESTNI LOG,?
12618,LJ LPP-373,349,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-11 11:01:29.000,MESTNI LOG,?
12570,LJ LPP-373,295,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-03 12:23:39.000,MESTNI LOG,?
12569,LJ LPP-373,295,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-03 10:51:37.000,MESTNI LOG,?
12568,LJ LPP-373,295,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-03 09:11:55.000,MESTNI LOG,?
12552,LJ LPP-372,344,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-28 12:33:18.000,MESTNI LOG,?
6443,LJ LPP-220,345,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-05 05:33:28.000,MESTNI LOG,?
6444,LJ LPP-220,345,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-05 07:03:10.000,MESTNI LOG,?
6445,LJ LPP-220,345,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-05 08:39:33.000,MESTNI LOG,?
6446,LJ LPP-220,345,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-05 10:21:00.000,MESTNI LOG,?

In [66]:
avg.iloc[diff.values.argsort()[:10]]

                                0
5318   2012-12-17 10:19:55.000000
12618  2012-12-11 11:01:29.000000
12570  2012-12-03 12:23:39.000000
12569  2012-12-03 10:51:37.000000
12568  2012-12-03 09:11:55.000000
12552  2012-12-28 12:33:18.000000
6443   2012-12-05 05:33:28.000000
6444   2012-12-05 07:03:10.000000
6445   2012-12-05 08:39:33.000000
6446   2012-12-05 10:21:00.000000

In [67]:
pd.to_datetime(my_avg.iloc[diff.values.argsort()[:10]][0])

5318    2012-12-17 10:52:03.396
12618   2012-12-11 11:33:37.396
12570   2012-12-03 12:55:47.396
12569   2012-12-03 11:23:45.396
12568   2012-12-03 09:44:03.396
12552   2012-12-28 13:05:26.396
6443    2012-12-05 06:05:36.396
6444    2012-12-05 07:35:18.396
6445    2012-12-05 09:11:41.396
6446    2012-12-05 10:53:08.396
Name: 0, dtype: datetime64[ns]

In [68]:
(pd.to_datetime(test.iloc[diff.values.argsort()[:10]]['Departure time']) - pd.to_datetime(avg.iloc[diff.values.argsort()[:10]][0])).dt.total_seconds()

5318     0.0
12618    0.0
12570    0.0
12569    0.0
12568    0.0
12552    0.0
6443     0.0
6444     0.0
6445     0.0
6446     0.0
dtype: float64

In [71]:
ttt = pd.read_csv('testtesttest.csv', sep='\t', header=None)

In [77]:
ttt[ttt[4] == "  MESTNI LOG; sejem"]

,0,1,2,3,4,5,6,7,8
0,LJ LPP-201*,102,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-31 11:53:42.000,MESTNI LOG,?
1,LJ LPP-201*,102,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-31 13:22:15.000,MESTNI LOG,?
2,LJ LPP-201*,102,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-31 14:49:16.000,MESTNI LOG,?
3,LJ LPP-201*,102,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-31 16:23:15.000,MESTNI LOG,?
4,LJ LPP-201*,102,1,VIŽMARJE - MESTNI LOG,MESTNI LOG; sejem,Šentvid,2012-12-31 17:51:47.000,MESTNI LOG,?